html {
    font-family: monospace;
    font-size: 12pt;
    touch-action: manipulation;
}

.game-guide {
    text-align: center;
    line-height: 2pt;
}

.game-window-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    overflow: visible;
}

.float-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400pt;
    transform: translate(-50%, -50%);
    color: bisque;
    font-size: 20pt;
    text-shadow: 0 0 5pt black;
}

.touch-control-zone {
    position: fixed;
    bottom: 0;
    height: 100pt;
    min-width: 100%;
    text-align: center;
    vertical-align: middle;
}

.touch-left {
    position: absolute;
    left: 10%;
    bottom: 50%;
    transform: translate(0, -50%);
}

.touch-right {
    position: absolute;
    right: 10%;
    bottom: 50%;
    transform: translate(0, -50%);
}

.touch-control {
    /* position: absolute; */
    border: 5pt solid grey;
    color: grey;
    border-radius: 50%;
    height: 70pt;
    width: 70pt;
    font-size: 25pt;
}

#left-panel {
    text-align: center;
    padding: 0 20px;
    width: 75pt;
}

#hold {
    position: absolute;
    top: 10%;
}

#hold-img {
    width: 75pt;
}

#right-panel {
    padding: 0 20px;
    width: 75pt;
}

#game-window {
    border: 10px solid gray;
}

#next-blocks {
    position: absolute;
    top: 10%;
}

#next1 {
    width: 75pt;
}

#next2 {
    width: 50pt;
}

#scoreboard {
    position: absolute;
    width: min-content;
    bottom: 30%;
}

@media all and (orientation: portrait) {
    #game-window {
        width: 400pt;
    }
}
